# Server
PORT=5050
DEV_MODE=true
BACKEND_URL=http://localhost:5050

# MongoDB
MONGODB_URI=

# JWT
JWT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Admin Credentials
ADMIN_PASSWORD=

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173
